<footer>
    <div class="footer-container">

        <div class="footer-section">
            <h3>SMSMPITR Event Portal</h3>

            <p>
                Sahakar Maharshi Shankarrao Mohite Patil Institute of Technology & Research
            </p>

            <p>
                Excellence in Education & Innovation
            </p>
        </div>

        <div class="footer-section">
            <h3>Quick Links</h3>

            <a routerLink="/">Home</a><br>
            <a routerLink="/about">About</a><br>
            <a routerLink="/contact">Contact</a><br>
            <a routerLink="/admin-login">Admin Login</a>
        </div>

        <div class="footer-section">
            <h3>Contact</h3>

            <p>SMSMPITR Campus, Akluj, Maharashtra</p>
            <p>smcht@gmail.com</p>
            <p>+91 21852 22354</p>
        </div>

    </div>

    <div class="footer-bottom">
        © 2026 SMSMPITR. All Rights Reserved.
    </div>
</footer>